{% form_theme sp_form 'bootstrap_4_layout.html.twig' %}
{% extends 'adbase.html.twig' %}

{% block title %}Hello Note form!{% endblock %}

{% block body %}

                <!-- Begin Page Content -->
                <div calss="container-fluid ">
                    <div class="card shadow mb-4">
                <div class="container">                
    <h1>Add Product</h1>
    {{ form_start(sp_form)}}
    {{ form_widget(sp_form)}}
    
    <input type="submit" value="Submit" class="btn btn-primary"/>
    {{ form_end(sp_form)}}
    </div>
</div>

{% endblock %}
{% block javascripts %}
<script>
    function Logout(url){
        if(confirm("Do you want to sign out?")){
            window.location.href = url;
        }
    }
    </script>
<script src="vendor/jquery/jquery.min.js"></script>
<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{asset('vendor/fontawesome-free/css/all.min.css')}}">
    <link rel="stylesheet" href="{{asset('css/admin.css')}}">
    <link rel="stylesheet" href="{{asset('https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i')}}">
{% endblock %}
