
{% extends 'adbase.html.twig' %}

{% block title %}User Manager{% endblock %}

{% block body %}

<div calss="container-fluid ">
    <div class="card shadow mb-4">
        <div class="card-header py-3">
          <h6 class="m-0 font-wight-bold text-primary" > Account Manager
            <a href="{{path('app_register')}}" class="btn btn-primary">Register Account Profile</a>
          </h6>
    </div>
    <div class="card-body">
        <div class="table-reponsive">
            <table class="table table-bordered" id="database" with="100%" cellspacing="0">
                <thead>
                   <tr>
                    <th>No.</th>
                    <td>ID</td>
                    <th>Username</th>
                    <th>Fullname</th>
                    <th>Password</th>
                    <th>Delete</th>
                   </tr>
                </thead>
                <tbody>
                    {% for u in data %}
                    <tr>
                    <td>{{loop.index}}</td>
                    <td>{{u.getId()}}</td>
                    <td>{{u.getUsername()}}</td>                    
                    <td>{{u.getFirstname()}} {{u.getLastname()}}</td>
                    <td>{{u.getPassword()}}</td>
                    <td> 
                    <a href="javascript:deleteu('{{path('app_delete_user_manager',{'id':u.getId()})}}')" class="btn btn-danger">Delete</a>
                    </td>
                    </tr>
                </tbody>
                {% endfor %}
            </table>
        </div>
    </div>
</div>
</div>

</div>
{% endblock %}
{% block javascripts %}
<script>
    function Logout(url){
        if(confirm("Do you want to sign out?")){
            window.location.href = url;
        }
    }
</script>
<script>
    function deleteu(url){
        if(confirm("Do you delete Account?")){
            window.location.href = url;
        }
    }
</script>
<script src="vendor/jquery/jquery.min.js"></script>
<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{asset('vendor/fontawesome-free/css/all.min.css')}}">
    <link rel="stylesheet" href="{{asset('css/admin.css')}}">
    <link rel="stylesheet" href="{{asset('https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i')}}">
{% endblock %}
